<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Modules" value="" />
    <add key="NewVersionServer" value="" />
    <add key="EnableDiagnosticActions" value="False" />
    <add key="Languages" value="zh-CHS;zh-CN;zh" />
  </appSettings>
  <connectionStrings>
    <add name="EasyTestConnectionString" connectionString="uid=sa;pwd=sa;Pooling=false;Data Source=.;Initial Catalog=SkyFaithEasyTest"/>
    <add name="ConnectionString" connectionString="uid=sa;pwd=sa;Pooling=false;Data Source=.;Initial Catalog=SkyFaith" />
    
     <!--<add name="EasyTestConnectionString" connectionString="XpoProvider=MySql;Server=101.201.28.235;User ID=root;Password=skyfaith;Database=SkyFaithEasyTest;Persist Security Info= true;Charset=gbk;" />
    <add name="ConnectionString" connectionString="XpoProvider=MySql;Server=101.201.28.235;User ID=root;Password=skyfaith;Database=SkyFaith;Persist Security Info= true;Charset=gbk;" />-->
    <!--
    Use the following connection string to connect to a Jet (Microsoft Access) database:
    <add name="ConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Password=;User ID=Admin;Data Source=SkyFaith.mdb;Mode=Share Deny None;"/>
    -->
  </connectionStrings>
  <system.diagnostics>
    <switches>
      <!-- Use the one of predefined values: 0-Off, 1-Errors, 2-Warnings, 3-Info, 4-Verbose. The default value is 3. -->
      <add name="eXpressAppFramework" value="1" />
      <!--
      <add name="XPO" value="3" />
      -->
    </switches>
  </system.diagnostics>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="CommonExpressServiceServiceSoapBinding" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://bspoisp.sit.sf-express.com:11080/bsp-oisp/ws/sfexpressService" binding="basicHttpBinding" bindingConfiguration="CommonExpressServiceServiceSoapBinding" contract="SFService.IExpressService" name="CommonExpressServicePort" />
    </client>
  </system.serviceModel>
<system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data></configuration>
