<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="CommonExpressServiceServiceSoapBinding"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://bspoisp.sit.sf-express.com:11080/bsp-oisp/ws/sfexpressService" binding="basicHttpBinding" bindingConfiguration="CommonExpressServiceServiceSoapBinding" contract="SFService.IExpressService" name="CommonExpressServicePort"/>
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
