<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="SyncOrderTracking.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <connectionStrings>
    <add name="conn" connectionString="server=47.88.149.87;database=db_SFI;uid=sfiuser;pwd=skyfaith"/>
  </connectionStrings>
  <appSettings>
    <!--与dpd进行通讯的时候需要验证用户-->
    <add key="clientKey" value="6847DC925C3BFB79FFF4F654B0C294C002F9CF38"/>
    <add key="clientNumber" value="1203000022"/>
  </appSettings>
  <applicationSettings>
    <SyncOrderTracking.Properties.Settings>
      <setting name="SyncOrderTracking_ru_dpd_wstest_ParcelTracingService"
          serializeAs="String">
        <value>http://wstest.dpd.ru:80/services/tracing</value>
      </setting>
    </SyncOrderTracking.Properties.Settings>
  </applicationSettings>
</configuration>
